{% extends "layouts/main.html" %}

{% set pageName="Check details and confirm your answers" %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "/application"
}) }}
{% endblock %}

{% block content %}

{% set address %}
{{appAddress({ address: data.personalDetails.address })}}
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Your name"
          },
          value: {
            text: data.personalDetails.firstName + " " + data.personalDetails.lastName
          },
          actions: {
            items: [
              {
                href: "name?returnUrl=check",
                text: "Change",
                visuallyHiddenText: "your name"
              }
            ]
          }
        },
        {
          key: {
            text: "Phone number"
          },
          value: {
            text: data.personalDetails.telephone
          },
          actions: {
            items: [
              {
                href: "telephone?returnUrl=check",
                text: "Change",
                visuallyHiddenText: "your number"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: address
          },
          actions: {
            items: [
              {
                href: "address?returnUrl=check",
                text: "Change",
                visuallyHiddenText: "your address"
              }
            ]
          }
        }
      ]
    }) }}

<form method="post" novalidate>
{{ govukRadios({
  name: "personalDetails[status]",
  fieldset: {
    legend: {
      text: "Have you completed this section?",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "You can stil make changes to a completed section"
  },
  items: [
    {
      value: "Completed",
      text: "Yes, I’ve completed this section"
    },
    {
      value: "Incomplete",
      text: "No, I’ll come back to it later"
    }
  ],
  value: data.personalDetails.status
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}

</form>

  </div>
</div>
{% endblock %}
